node_modules
app/node_modules
server/node_modules
app/fonts
app/images
app/locales
app/scripts
app/styles
dist
platforms
plugins
scripts/app*
scripts/vendor*
typings
www/fonts
www/images
www/locales
www/scripts
www/styles
.idea
.DS_STORE
